.admin-main {

    .admin-container {
        height: 100%;
        padding: 5rem 0 5rem 0;
        background-color: white;
    }

    h1 {
        font-weight: bold;
        text-transform: uppercase;
    }
}