// BODY
body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

html,
body {
    height: 100%;
}